<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>AMATTA</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AMATTA</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>CFBundleURLTypes</key>
    	<array>
    		<dict>
    			<key>CFBundleTypeRole</key>
                <string>Editor</string>
    			<key>CFBundleURLSchemes</key>
    			<array>
    			    <!-- TODO Replace this value: -->
    			    <!-- Copied from GoogleService-Info.plist key REVERSED_CLIENT_ID -->
    				<string>com.googleusercontent.apps.746005876439-pad4988544il6dbb91togrclkivpl8r6</string>
    			    <string>kakaofde41eed149ce2459878bd388792bba1</string>
                    <!-- TODO Replace this value: -->
    			    <string>naverlogin</string>
    			</array>
    		</dict>
    	</array>
        <!-- TODO Replace this value: -->
    	<key>naverConsumerKey</key>
        <string>0OLKDX4me403vF1ybJ1Z</string>
        <!-- TODO Replace this value: -->
        <key>naverConsumerSecret</key>
        <string>4ButqPs_gl</string>
        <key>naverServiceAppName</key>
        <string>AMATTA</string>
        <!-- TODO Replace this value: -->
        <key>naverServiceAppUrlScheme</key>
        <string>naverlogin</string>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>kakaokompassauth</string>
            <string>kakaolink</string>
            <string>kakaoplus</string>
        </array>
    <key>GIDClientID</key>
    <!-- TODO Replace this value: -->
    <!-- Copied from GoogleService-Info.plist key CLIENT_ID -->
    <string>746005876439-pad4988544il6dbb91togrclkivpl8r6.apps.googleusercontent.com</string>
</dict>
</plist>
